










.image {
    width: 60%;
    height: auto;
}

.info {
    padding: 15px; 
    box-sizing: border-box;
}

.info h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.price {
    color: #0f538f;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.add-to-cart {
    background-color: #0f538f;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.add-to-cart:hover {
    background-color: #266599;
}



.card{


    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transform: rotateY(10deg);
    transition: transform 0.3s;
  
 
}
.card:hover{
    transform: rotateY(0deg);

}