body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c; 
    padding: 10px 20px;
    color: #ffffff; 
    flex-wrap: wrap;
}
  
  .logo h1 {
    margin: 0; 
    font-size: 24px; 
  }
  
  .login-container {
    display: flex;
    align-items: center;
    margin:0 16px;
  }
  
  .login-button {
    background-color: transparent; 
    border: none; 
    color: #ffffff; 
    cursor: pointer; 
    font-size: 16px; 
    margin-right: 16px;
  }

  .navbar-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    fill: #ffffff;
  }

  .highlight{
    color: #dfbc1b;
  }

  .login-text{
    padding-right: 10px;
  }

  .iconUser{
    margin-right: 8px;

  }

  @media (max-width: 600px) {
    .top-header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }

    .login-container{
      margin-top: 10px;
    }

    .logo h1{
      font-size: 20px;
    }
  
    .login-button{
      font-size: 14px;
    }

    .login-text {
      display: none;
    }
  }